/* @import url("https://fonts.googleapis.com/css?family=Numans"); */
@font-face {
  font-family: "Kollektif";
  src: local("Kollektif"), url(./fonts/Kollektif.ttf) format("opentype");
}
@font-face {
  font-family: "Kollektif-Bold";
  font-weight: 900;
  src: local("Kollektif-Bold"),
    url(./fonts/Kollektif-Bold.ttf) format("opentype");
}
html,
body {
  background-color: #191b1e;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Kollektif";
}
.container {
  height: 100%;
  align-content: center;
}
.logo {
  border-radius: 1rem;
  margin-bottom: 3rem;
  width: 17rem;
  height: 15rem;
}
.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(73, 69, 69, 0.438) !important;
}
.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #fbe23b;
}
.social_icon span:hover {
  color: white;
  cursor: pointer;
}
.card-header h3 {
  color: white;
}
.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}
.input-group-prepend span {
  width: 50px;
  background-color: #fbe23b;
  color: black;
  border: 0 !important;
}
input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.remember {
  color: white;
}
.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}
.login_btn {
  color: black;
  background-color: #fbe23b;
  width: 100px;
}
.login_btn:hover {
  color: black;
  background-color: #fbe23b;
  padding: 0;
  margin: 0;
  font-family: "Kollektif";
}
.links {
  color: white;
}
.links a {
  margin-left: 4px;
}
#__next {
  background-color: #191b1e;
  color: white;
  font-family: "Kollektif";
  height: 100%;
}
/* ////////////////////////////////
////////////////////////////////
PARTIII REGISTER
////////////////////////////////
//////////////////////////////// */
.page-inscription {
  background-color: #191b1e;
  font-family: "Kollektif";
}
.titre-page-inscription {
  color: white;
}
.sous-titre-page-inscription {
  color: white;
}
.imageInterest {
  margin-bottom: 1rem;
  margin-bottom: 3rem;
}
.imageCircle {
  border-radius: 0rem;
}
button.Boutton {
  width: 10rem;
  margin-top: 2rem;
  background-color: #fbe23b;
}
.form-label {
  margin-top: 2rem;
  color: #fbe23b;
}
.titre-interests {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #fbe23b;
}
.checkBox {
  background-color: aquamarine;
}
.checkBox2 {
  color: green;
}
/* ////////////////////////////////
////////////////////////////////
PARTIII Usernews
////////////////////////////////
//////////////////////////////// */
.itemNavbar.col-3 {
  text-align: center;
}
.itemNavbar.col-6 {
  text-align: center;
}
.photoNav {
  border-radius: 20rem;
  margin-top: 1rem;
  height: 10rem;
  width: 5rem;
}
.checkBoxActive {
  background-color: #fbe23b;
  border-radius: 10rem;
}
.checkBoxInactive {
  background-color: white;
  border-radius: 10rem;
}
.Nav {
  border-bottom: 1px solid white;
  position: fixed;
  background-color: #191b1e;
  width: 100%;
  z-index: 2;
  top: 0;
}

.SearchBar {
  margin-top: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.logoNav {
  height: 12rem;
  width: 12rem;
}
.BodyNews.col-3 {
  text-align: center;
  margin-top: 14.5rem;
}
.BodyNews.col-5 {
  text-align: center;
  margin-top: 14.5rem;
  z-index: 1;
}
.BodyNews.col-4 {
  text-align: center;
  margin-top: 14.5rem;
}
.SuggestionProfil {
  border-radius: 2rem;
}
.DivSugg {
  margin-bottom: 2rem;
}
.navbar-nav {
  width: 100%;
}
@media (min-width: 568px) {
  .end {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  #post {
    width: 100%;
  }
}
#clicked {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
}
#profile {
  background-color: unset;
}
#post {
  margin: 5rem;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
  width: 50%;
}
body {
  background-color: black;
}
#nav-items li a,
#profile {
  text-decoration: none;
  color: rgb(224, 219, 219);
  background-color: black;
}
.comments {
  margin-top: 5%;
  margin-left: 10rem;
}
.darker {
  border: 1px solid #ecb21f;
  background-color: black;
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
}
.comment {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
}
.comment h4,
.comment span,
.darker h4,
.darker span {
  display: inline;
}
.comment p,
.comment span,
.darker p,
.darker span {
  color: rgb(184, 183, 183);
}
h1,
h4 {
  color: white;
  font-weight: bold;
}
label {
  color: rgb(212, 208, 208);
}
#align-form {
  margin-top: 20px;
}
.form-group p a {
  color: white;
}
#checkbx {
  background-color: black;
}
#darker img {
  margin-right: 15px;
  position: static;
}
.form-group input,
.form-group textarea {
  background-color: black;
  border: 1px solid rgba(16, 46, 46, 1);
  border-radius: 12px;
}
form {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  border-radius: 5px;
  padding: 20px;
}
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* parti  login */
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.logo {
  border-radius: 1rem;
  width: 17rem;
  height: 15rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
}
.container {
  margin: 0 auto;
  margin-bottom: 2rem;
}
.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}
#forgot {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}
.btn.btn-primary {
  margin-top: 20px;
  border-radius: 15px;
}
.panel {
  min-height: 380px;
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 12px;
}
.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #fbe23b;
  color: #4343ff;
}
input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}
.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}
.iconelog {
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
}
a[target="_blank"] {
  position: relative;
  transition: all 0.1s ease-in-out;
}
.bordert {
  border-top: 1px solid #fbe23b;
  position: relative;
}
.bordert:after {
  content: "or connect with";
  position: absolute;
  top: -13px;
  left: 33%;
  background-color: #191b1e;
  padding: 0px 8px;
}
@media (max-width: 360px) {
  #forgot {
    margin-left: 0;
    padding-top: 10px;
  }
  body {
    height: 100%;
  }
  .container {
    margin: 30px 0;
  }
  .bordert:after {
    left: 25%;
  }
}
.panel {
  margin: auto auto;
}
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* parti  profil */
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.profilPhoto {
  text-align: center;
}
.card-comment {
  max-width: 30rem;
  width: 23rem;
}
.bouton-comment {
  width: 7rem;
}
.carte {
  width: 100%;
}
.searchpage {
  padding-top: 300px;
}
.ImageGroupSidebar {
  cursor: pointer;
}
